label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

.generated-password {
    padding: 3rem;
    background: #f5f8fa;
    color: #0c5176;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.copy-icon {
    background: url('https://api.iconify.design/clarity:copy-line.svg') no-repeat center center / contain;
    min-width: 30px;
    cursor: pointer;
    height: 40px;
}

.copy-icon:hover {
    background-color: #7dc7f8;
}
